[submodule "pokedapp/lib/forge-std"]
	path = pokedapp/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "pokedapp/lib/openzeppelin-contracts"]
	path = pokedapp/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "pokedapp/lib/chainlink-brownie-contracts"]
	path = pokedapp/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
[submodule "pokedapp/lib/ERC721A"]
	path = pokedapp/lib/ERC721A
	url = https://github.com/chiru-labs/ERC721A
